/* @use "../utils/mixin";
@use "../utils/mixin" as mx;
@use "../utils/variables"; //? можна видалити
@use "../utils/variables" as v;
@use "../utils/variables" as *; //! використовувати без псевд не роклмендується бо може викликатиконфлікти імен */
//: " as ..." це скорочення - alias (псевдонім)
//: використовується для зручності. Попереднє значення можна видалити.

@use "../utils" as fwd;

.badge {
  @include fwd.badge-base();

  color: fwd.$badge-cl;
}
.badge-completed {
  background-color: fwd.$completed; //? після $ працює пошук
}

.badge-ended {
  background-color: fwd.$ended;
}
.badge-active {
  background-color: fwd.$active;
}
