$colo-primary-text: #888; //kebab case
$color-blue: rgb(73, 160, 189);

$coloPrimaryText: #888; // camel case
$colorBlueText: lightblue;

$colo_primary: #888; //snake case
$color_blue: lightblue;

$font-size: 16px;

.title {
  font-size: $font-size;
}

$font-size: 10px;

.subtitle {
  font-size: $font-size;
}
